*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#parent
{
    height:500px;
    width:700px;
    border:1px,solid;
    display:flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
    justify-content:center;
    align-items:center;
}
.child
{
    height:100px;
    width:100px;
    background-color:blueviolet;
    margin:5px;
    color:white;  
}
#chid3
{
    width:200px;
    align
}