*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#wrapper
{
    height:400px;
    width:300px;
    border:2px solid ;
    margin:auto;
}
.parent
{
    height:calc(100%/3);
    width:100%;
    border:2px solid violet;   
}
.child
{
    background-color: violet;
    border: 2px solid white;
}
#child1,#child4,#child5
{
     width:70%;
     height:100%;
     float:left;
     background-image:url("vr.jfif");
}
#child2,#child3,#child6
{    width:30%;
     height:100%;
     float:left;
     background-image:url("cd.jfif");
}